.title-products {
  text-align: center;
}


.content-container {
  max-width: 100%;
  padding: 10%;
}

.card-container {
  display:flex;
  flex-direction: column;
  max-width: 80vw;
  border-style: solid;
  border-color:lightgrey;
  box-shadow:  0 0 4px 0 rgba(0,0,0,0.2);
  border-width: 1px;
  align-items: center;
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: center;
  border-radius: 5px;
}

.product-title {
  font-weight: bold;
}

.card {
  /* padding-left:15%; */
  padding-bottom: 10%;
  padding-top: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.card-img {
  max-width: 100%;
}

.product-img{
  width: 80%;
}

.product-name {
  /* padding-left: 20%; */
  font-size: 32px;
  font-weight: bold;
}

.product-claim {
  font-size: 30px;
  padding: 5%;
}

.product-btn {
  padding-left: 20%;
}

.product-btn {
  padding: 0;
}

.product-detail{
  padding: 5%;
  background-color: white;
  border-color: rgb(20, 145, 121);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  font-size: 18px;
}


/* STORIES SECTION */

.stories-container{
  width: 100vw;
}

.stories-section {
  max-width: 100%;
  padding: 10%;
  padding-top: 0;
  background-color: black;
  color: white;
}

.stories-title {
  padding-left: 8%;
  padding-right: 8%;
  text-align: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.story-protagonist{
  font-size: 28px;
}

.story-description {
  font-size: 22px;
}

.story-img {
  margin-top: 8%;
  width: 100%;
  /* align-items: center; */
}

.partner-img {
  width: 100%;
  margin: 0 auto;
}


/* footer */

.footer {
  padding: 0;
  border-top: 1px solid lightgray;
  width: 100vw;
  text-align: center;
}
